.header {
  display: flex;
  align-items: center;
  background: var(--base-color);
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header .logo {
  max-width: 8rem;
  margin-top: 1rem;
}

.header .title-grup {
  padding-left: 2rem;
  color: var(--base-font-color);
}

.header .title-grup i {
  padding-right: 0.2rem;
}
