.sidenav {
  background: var(--base-color);
  width: 9.8rem;
}

.sidenav a {
  color: var(--base-font-color);
}

.sidenav i {
  padding-right: 0.625rem;
}

.content {
  padding: 1rem;
  background: white;
}
